.table-height {
    max-height: calc(100vh - 230px);
}

.custom-height {
    max-height: calc(100vh - 166px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInShift {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutShift {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.animate-fadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
}

.animate-fadeInShift {
    animation: fadeInShift 0.3s ease-in-out forwards;
}

.animate-fadeOutShift {
    animation: fadeOutShift 0.3s ease-in-out forwards;
}
