@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-fadeIn: fadeIn 0.3s ease-in-out forwards;
    --animate-fadeOut: fadeOut 0.3s ease-in-out forwards;
    --animate-fadeInShift: fadeInShift 0.3s ease-in-out forwards;
    --animate-fadeOutShift: fadeOutShift 0.3s ease-in-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fadeInShift {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOutShift {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
}

.table-height {
    max-height: calc(100vh - 230px);
}

.custom-height {
    max-height: calc(100vh - 166px);
}
